input[type=text], input[type=number], input[type=date],
#comuna, #region, button[type=submit], button[type=reset], #observacion, input[type=radio], input[type=tel] {
  border-radius: 0;
  border: solid 2px black;
  background-color: transparent;
  color: black; }

#edad {
  width: 25%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

button {
  width: 20%; }

#comuna, #region, input[type=date] {
  width: 70%; }

label {
  color: black; }

#genero {
  width: 25px; }

#eliminar {
  width: 60px;
  background-color: transparent;
  border: none; }

#eliminar span:hover {
  color: #272727; }

#eliminar span:active {
  color: red; }

#agregarHab {
  display: flex;
  font-weight: bold;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px; }

#agregarHab:hover {
  color: #313131; }

.material-icons.md-40 {
  font-size: 40px; }

#form-habilidad {
  border: solid 2px black;
  width: 50%; }

#addSkill1 {
  width: 100px;
  border-radius: 0;
  border: solid 2px black;
  background-color: transparent;
  color: black; }

#vista-habilidades ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap; }

#vista-habilidades ul li {
  border: solid 2px black;
  padding: 5px;
  margin: 5px; }

#tablaClientes {
  overflow: scroll; }

#vl {
  background-color: transparent;
  border: none; }
